.App {
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 15vh;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: red;
}

.App-header img{
  width: 250px;
  height: 200px;
}

hr{
  background-color: red;
  height: 2px;
}

.App-body{
  height: 30rem;
}

.App-body p{
  font-size: larger;
}

.App-footer p{
  font-size: larger;
  font-style: italic;
}

form input{
  margin: 10px;
}

